$font-title: "Raleway", "Arial", sans-serif;
$font-text: "Fira Sans", "Arial", sans-serif;

$color-black: #000000;
$color-gray: #484848;
$color-gray--light: #e3e3e3;
$color-white: #ffffff;
$color-blue: #1FC0FC;
$color-blue--light: #63D3FD;
$color-yellow: #FFC341;
$color-yellow--lighten: #FFD701;
$color-red: #FF0000;

$text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;
// - мобильная версия — 320px - 767px;
// - планшетная версия — 768px - 1023px;
// - десктопная версия — от 1024px и выше
