$font-title: "Montserrat", "Arial", sans-serif;
$font-text: "Fira Sans", "Arial", sans-serif;

$color-black: #000000;
$color-gray: #484848;
$color-gray--light: #e3e3e3;
$color-white: #ffffff;
$color-blue: #1fc0fc;
$color-blue--light: #63d3fd;
$color-yellow: #ffc341;
$color-yellow--lighten: #ffd701;
$color-red: #ff0000;

$text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;
