.btn-play {
  position: relative;

  width: 96px;
  height: 96px;
  padding: 16px;

  color: $color-blue;
  background-color: rgba($color-white, 0.32);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover .btn-play__icon,
  &:focus .btn-play__icon {
    color: $color-blue--light;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:active .btn-play__icon {
    color: $color-blue;
    background-color: #f4f4f4;
  }
}

.btn-play__icon {
  display: block;
  width: 64px;
  height: 64px;
  padding: 23px 25px;

  background-color: $color-white;
  border-radius: 50%;

  svg {
    fill: currentColor;
  }
}
