.call-me {
  padding: 209px 0 131px;
  background-image: url("../img/.png");
  background-position: left top;
  background-size: 60% auto;
  background-repeat: no-repeat;
}

.call-me__wrapper {
  width: 97%;
  max-width: 1142px;
  margin: 0 auto;
  padding-left: 100px;

  @media screen and (max-width: $width-tablet) {
    width: 90%;
    padding-bottom: 0;
  }
}

.call-me__inner {
  width: 477px;
  min-height: 254px;
}

.call-me__title {
  margin-bottom: 24px;
}

.call-me__inner {
  font-family: $font-text;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;

  color: rgba($color-gray, 0.87);
}

.call-me__form {

}
