// ПОЛЯ ВВОДА - РЕАЛИЗАЦИЯ 1
// Под input подкладывается label абсолютным позиционированием, в зависимости от состояния у label меняетя фоновый цвет.

.form-field {
  position: relative;

  display: block;
  width: 250px;
  padding: 2px;
  margin-bottom: 10px;
}

.form-field__input {
  width: 100%;
  height: 55px;
  padding: 18px 38px;

  font-family: $font-text;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: rgba($color-gray, 0.87);

  border-radius: 80px;
  border: none;
  background-color: white;

  &::placeholder {
    color: rgba($color-gray, 0.5);
  }
}

.form-field__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: block;

  border-radius: 80px;
  background-color: #e3e3e3;
}

.form-field__input:focus + .form-field__label {
  background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
}

.form-field__input--valid + .form-field__label {
  background: $color-gray;
}

.form-field__input--invalid + .form-field__label {
  background: rgba($color-red, 0.5);
}


// ПОЛЯ ВВОДА - РЕАЛИЗАЦИЯ 2
// Фон с градиентной заливкой накладывается на input фоновым изображением в формате svg.

.form-field-v2 {
  display: block;
  width: 250px;
  margin-bottom: 10px;
}

.form-field-v2 .form-field-v2__input {
  width: 100%;
  height: 59px;
  padding: 18px 38px;

  font-family: $font-text;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: rgba($color-gray, 0.87);

  border-radius: 80px;
  border: 2px solid #e3e3e3;
  background-color: transparent;
  background: none;

  &:focus {
    border-color: transparent;
    background-image: url("../img/input-border-gradient.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
  }

  &::placeholder {
    color: rgba($color-gray, 0.5);
  }
}

.form-field-v2--valid .form-field-v2__input {
  border-color: $color-gray;
  background: none;
}

.form-field-v2--invalid .form-field-v2__input {
  border-color: rgba($color-red, 0.5);
  background: none;
}
