.form-callback__text-field {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.form-callback__submit {
  width: 264px;
  margin: 24px auto 16px;
}

.form-callback__checkbox {
  width: 264px;
  margin: 0 auto;
}
