.form-call-me {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-call-me__text-field {
  margin-bottom: 8px;
}

.form-call-me__submit {
  position: absolute;
  top: 0;
  right: 0;

  width: 216px;

  @media screen and (max-width: $width-tablet) {
    position: static;

    width: 92%;
  }
}
