.tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;

  @media screen and (max-width: $width-tablet) {
    flex-wrap: wrap;
  }
}

.tabs__toggler-wrapper {
  flex-basis: 228px;
  flex-shrink: 0;
  min-width: 228px;
  min-height: 340px;
  margin: 0 7.5% 0 0;

  @media screen and (max-width: $width-tablet) {
    position: relative;
    z-index: 1;

    flex-grow: 1;
    min-height: 48px;
    padding: 0;
    margin: 0 auto 32px;

    overflow: hidden;
    list-style: none;
  }
}

.tabs__togglers {
  padding: 0;
  margin: 0;

  list-style: none;

  @media screen and (max-width: $width-tablet) {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transform: translate3d(0, 0, 0);
  }
}

.tabs__toggler {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  position: relative;
  transition-property: transform;
  transform: translate3d(0, 0, 0);
}

.tabs__item {
  position: relative;

  display: block;
  width: 100%;
  height: 68px;
  padding: 25px 30px 25px 70px;

  font-family: $font-text;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba($color-gray, 0.87);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: $width-tablet) {
    height: 48px;
    min-width: 120px;
    padding: 15px 12px 15px 52px;
    box-sizing: border-box;

    font-size: 16px;
    line-height: 19px;

    border-radius: 60px;
    opacity: 0.4;
  }

  &:hover,
  &:focus {
    color: $color-yellow;
  }

  &::before {
    content: "";

    position: absolute;
    left: 20px;
    top: 50%;

    width: 36px;
    height: 36px;

    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-size: auto;

    transform: translateY(-50%);

    @media screen and (max-width: $width-tablet) {
      left: 12px;

      transform: scale(0.89) translateY(-50%);
    }
  }
}

.tabs__toggler--active .tabs__item,
.tabs__toggler--active .tabs__item:hover,
.tabs__toggler--active .tabs__item:focus {
  font-weight: 500;
  font-size: 16px;
  font-variant: small-caps;
  color: $color-white;
  text-transform: lowercase;

  text-shadow: $text-shadow;
  background-image: url("../img/active.svg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 1;

  @media screen and (max-width: $width-tablet) {
    background-image: linear-gradient(142.39deg, #ffc341 20.46%, #ffd701 65.31%);
  }
}

.tabs__item--david-star::before {
  background-position: 0 0;
}

.tabs__item--david-star:hover::before {
  background-position: 0 -36px;
}

.tabs__toggler--active .tabs__item--david-star::before {
  background-position: 0 -72px;
}

.tabs__item--academy::before {
  background-position: -36px 0;
}

.tabs__item--academy:hover::before {
  background-position: -36px -36px;
}

.tabs__toggler--active .tabs__item--academy::before {
  background-position: -36px -72px;
}

.tabs__item--bag::before {
  background-position: -72px 0;
}

.tabs__item--bag:hover::before {
  background-position: -72px -36px;
}

.tabs__toggler--active .tabs__item--bag::before {
  background-position: -72px -72px;
}

.tabs__item--volunteer::before {
  background-position: -108px 0;
}

.tabs__item--volunteer:hover::before {
  background-position: -108px -36px;
}

.tabs__toggler--active .tabs__item--volunteer::before {
  background-position: -108px -72px;
}

.tabs__item--candle-holder::before {
  background-position: -144px 0;
}

.tabs__item--candle-holder:hover::before {
  background-position: -144px -36px;
}

.tabs__toggler--active .tabs__item--candle-holder::before {
  background-position: -144px -72px;
}

.tabs__list {
  flex-grow: 1;
  min-width: 100px;
}

.tabs__section h3 {
  margin: 0 0 24px;

  font-family: $font-title;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.02em;

  color: $color-blue;

  @media screen and (max-width: $width-tablet) {
    font-size: 24px;
  }
}

.tabs__section p {
  margin: 0 0 1em;

  font-family: $font-text;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;

  color: rgba($color-gray, 0.87);

  @media screen and (max-width: $width-tablet) {
    font-size: 14px;
  }
}

.tabs__section p:last-child {
  margin: 0;
}
