.text-field {
  position: relative;

  display: block;
  width: 100%;
  padding: 2px;
  z-index: 0;
}

.text-field__input {
  width: 100%;
  height: 55px;
  padding: 18px 38px;

  font-family: $font-text;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: rgba($color-gray, 0.87);

  border-radius: 80px;
  border: none;
  background-color: white;
  outline: none;

  &::placeholder {
    color: rgba($color-gray, 0.5);
  }
}

.text-field__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: block;

  border-radius: 80px;
  background-color: #e3e3e3;
}

.text-field__input:focus + .text-field__label {
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
}

.text-field__input--valid + .text-field__label {
  background: $color-gray;
}

.text-field__input--invalid + .text-field__label,
.text-field__input--invalid:focus + .text-field__label {
  background-color: rgba($color-red, 0.5);
}
