@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/firasans-regular.woff2") format("woff2"),
    url("../fonts/firasans-regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  font-style: normal;
  font-display: optional;
  src:
    url("../fonts/firasans-medium.woff2") format("woff2"),
    url("../fonts/firasans-medium.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: normal;
  font-display: optional;
  src:
    url("../fonts/firasans-bold.woff2") format("woff2"),
    url("../fonts/firasans-bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/raleway-extrabold.woff2") format("woff2"),
    url("../fonts/raleway-extrabold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  font-style: normal;
  font-display: optional;
  src:
    url("../fonts/raleway-black.woff2") format("woff2"),
    url("../fonts/raleway-black.woff") format("woff");
}
