html {
  box-sizing: border-box;

  font-size: 100%;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  min-width: $width-mobile;
}

section p {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: $color-gray;

  opacity: 0.87;
}
